@use '@/styles/variables' as *;

.statistics {
  margin-top: $spacing-5xl;

  &Wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing-md;
  }
}
