@use '@/styles/variables' as *;

.navigationWrapper {
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-x: hidden;
  padding: $spacing-sm $container-padding;
  position: absolute;
  top: 0;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  z-index: 99;

  @media (min-width: $bp-laptop) {
    flex-direction: row;
    gap: $spacing-md;
    height: auto;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    width: 36px;

    @media (min-width: $bp-laptop) {
      display: none;
    }

    span {
      background: $color-light;
      border-radius: 2px;
      height: 4px;
      transition: all 0.3s ease;
      width: 100%;
    }
  }

  .brand {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &.open {
    height: 100vh;
    background-color: #000;

    .navigation {
      transform: translateX(0);
    }

    .burger {
      span {
        &:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
    height: 100%;
    justify-content: end;
    padding: $spacing-2xl 0;
    transform: translateX(-125%);
    transition: transform 0.3s ease-in-out;
    z-index: 98;

    @media (min-width: $bp-laptop) {
      align-items: center;
      flex-direction: row;
      gap: $spacing-md;
      justify-content: space-between;
      padding: 0;
      transform: translateX(0);
      width: 100%;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      margin-bottom: auto;

      @media (min-width: $bp-laptop) {
        flex-direction: row;
        margin-bottom: 0;
      }

      li {
        font-size: $font-size-md;
        text-transform: capitalize;

        @media (min-width: $bp-laptop) {
          font-size: $font-size-base;
        }
      }
    }
    .career {
      font-size: $font-size-sm;

      @media (min-width: $bp-laptop) {
        display: none;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
