@use '@/styles/variables' as *;

.heading {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  .tagline {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    position: relative;
    padding-left: 48px;

    &:before {
      // &mdash;
      background-color: $color-light;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }
  }

  .header {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }

  &.primary {
    .tagline {
      font-size: $font-size-base;
    }

    .header {
      text-transform: uppercase;
      font-size: $font-size-3xl;
    }
  }
}
