@use '@/styles/variables' as *;

.button {
  min-width: fit-content;
  padding: $spacing-xs $spacing-md;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-light;
  text-transform: uppercase;
}
